python-binance==1.0.19
python-dotenv==1.0.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.25
pandas
pandas-ta
numpy
requests==2.31.0
loguru==0.7.2
python-telegram-bot==20.8
websocket-client==1.7.0
pytest>=8.0
pytest-mock>=3.12
websockets==13.0
